<!DOCTYPE html>
<html>
	<head>
		<title>Russian Quiz</title>
		<link rel='stylesheet' href='{{ url_for("static", filename="styles.css") }}'>
	</head>
	
	<body>
		<div class='navigation'>
			<a href='{{ url_for("index") }}'>Home</a>
			<a href='{{ url_for("typing") }}'>Typing</a>
			<a href='{{ url_for("manage") }}'>Manage Records</a>
		</div>
		
		<h2 id="header">Typing Quiz</h2>
		
		
		<div id="buttons">
			<button id="start">Start Quiz</button>
			<button id="check">Check Answer</button>
		</div>
		
		<div id="container">
			<p id="question"><!-- Question will be inserted here --></p>
			
		</div>
		
		<div class="answerBox">
			<input type="text" id="answer" placeholder="Type answer here...">
		</div>
		
		<div id="message"></div>
		
		<div class="search">
			<input type="text" id="searchDB" placeholder="Search Dictionary">
			<div id="searchResult"></div>
		</div>
		
		<script src="{{ url_for('static', filename='typing.js') }}"></script>
	</body>
	
</html>